button {
  background-color: transparent;
  padding: 5px;
  border: 2px solid;
  font-size: 30px;
  width: 65px;
  height: 65px; }
  button div {
    width: 50px;
    height: 55px;
    position: absolute;
    margin-top: -11px; }
